<!--begin:Menu item-->
<div class="menu-item">
	<!--begin:Menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1"> مدیریت تخفیفات</span>
	</div>
	<!--end:Menu content-->
</div>
<!--end:Menu item-->
<!--begin:Menu item-->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
	<!--begin:Menu link-->
	<span class="menu-link">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">تخفیفات</span>
		<span class="menu-arrow"></span>
	</span>
	<!--end:Menu link-->
	<!--begin:Menu sub-->
	<div class="menu-sub menu-sub-accordion">
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/DisCount/Index">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">لیست کلیه تخفیفات</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:menu item-->
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/DisCount/Create">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">ثبت کد تخفیف جدید</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:menu item-->
	</div>
	<!--end:Menu sub-->
</div>
<!--end:Menu item-->
