@model IEnumerable<GetImageProductGalleryForProductViewModel>

@{
	ViewData["Title:"] = "پنل مدیریت | فراخوانی لیست تصاویر کالاها یا محصولات ثبت شده سمت مدیر";
}

<!--begin::content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
	<!--begin::row-->
	<div class="row gy-5 g-xl-10">
		<!--begin::col-->
		<div class="col-xl-12 mb-xl-12">
			<!--begin::engage widget 1-->
			<div class="card h-md-100" dir="rtl">
				<!--begin::body-->
				<div class="card-body align-items-start flex-column">
					<!--begin::heading-->
					<div class="card-header align-items-start px-0 border-0 pt-50">
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bold text-dark">تصاویر ثبت شده برای کالاها یا محصولات</span>
							<span class="text-muted mt-1 fw-semibold fs-7">لیست تصاویر ثبت شده برای کالاهای موجود در فروشگاه</span>
						</h3>
						<a asp-action="Index" asp-controller="Product" class="btn  btn-sm btn-light-dark h-40px" data-bs-toggle="tooltip" title="بازگشت به لیست کلیه محصولات">
							<i class="ki-outline ki-basket fs-3">
							</i>
							بازگشت به لیست کالا یا محصولات
						</a>
					</div>
					<!--end::heading-->
					<!--begin::Ribbon wrapper 1-->
					<div class="overflow-hidden position-relative card-rounded">
						<!--begin::Ribbon-->
						<div class="ribbon ribbon-triangle ribbon-top-start border-primary">
							<!--begin::Ribbon icon-->
							<div class="ribbon-icon mt-n5 ms-n6">
								<i class="ki-duotone ki-information-4 fs-2 text-white"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
							</div>
							<!--end::Ribbon icon-->
						</div>
						<!--end::Ribbon-->
						<!--begin::Card-->
						<div class="card card-bordered bg-light-primary">
							<!--begin::Body-->
							<div class="card-body">
								<!--begin::Title-->
								<h2 class="mb-1 text-dark">راهنمای کاربر</h2>
								<!--end::Title-->
								<span class="text-dark fs-5">جهت ثبت تصویر برای محصول، ابتدا تصویر کالا یا محصول خود را انتخاب و سپس بعد از نمایش دکمه <span class="badge badge-primary"> ثبت تصویر محصول</span> کلیک نمایید.</span>
							</div>
							<!--end::Body-->
						</div>
						<!--end::Card-->
					</div>
					<!--end::Ribbon wrapper 1-->
					<!--begin::Ribbon wrapper 1-->
					<div class="overflow-hidden position-relative card-rounded">
						<!--begin::Add Picture For Product Gallery-->
						<div class="card-title">
							<form asp-controller="ProductGallery" asp-action="Create"
								  method="post"
								  data-ajax="true"
								  data-callback=""
								  data-action="Refresh"
								  enctype="multipart/form-data">
								<!--begin::details نمایش-->
								<!--start::Toolbar-->
								<div class="card-header border-0 pt-6">
									<!--begin::کارت title-->
									<div class="card-title">
										<!--begin::جستجو-->
										<div class="d-flex align-items-center position-relative my-1">
											<!--begin::Tags-->
											<input type="hidden" name="ProductId" value="@TempData["ProductId"].ToString()" />
											<!--end::Tags-->
											<label for="files" id="btnBrowserFile" class="btn fw-bold btn-light-danger me-3">انتخاب تصویر کالا یا محصول ...</label>
											<input name="ImgName" style="display:none;" type="file" id="files" class="form-control FEN fw-semibold fw-bold input_container me-3">
											<!--begin::توضیحات-->
											<div class="text-muted fs-7">پسوند های مجاز : <span class="fs-7 text-dark fw-bold badge badge-light-danger fw-semibold">png, jpg, jpeg</span></div>
											<!--end::توضیحات-->
										</div>
										<!--end::جستجو-->
									</div>
									<!--begin::کارت title-->
									<!--begin::کارت toolbar-->
									<div class="card-toolbar">
										<!--begin::Toolbar-->
										<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
											<!--begin::خروجی buttons-->
											<button id="btnAddGalleryforProfuct" type="submit" style="display:none;" class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary fw-bold h-40px me-3"><i class="ki-duotone ki-plus fs-2"></i><span class="indicator-label">ثبت تصویر محصول</span></button>
											<!--end::خروجی buttons-->
											<!--begin::Menu 1-->
											<button type="button" id="kt_refresh_datatable" class="btn btn-sm btn-light-success h-40px" data-bs-toggle="tooltip" title="بروزرسانی لیست اطلاعات تصاویر کالاها">
												<!--begin::Indicator label-->
												<span class="indicator-label">بروزرسانی اطلاعات</span>
												<!--end::Indicator label-->
												<!--begin::Indicator progress-->
												<span class="indicator-progress">
													در حال انجام ...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
												</span>
												<!--end::Indicator progress-->
											</button>
											<!--end::Menu 1-->
										</div>
										<!--end::Toolbar-->
									</div>
									<!--end::کارت toolbar-->
								</div>
							</form>
						</div>
						<!--end::Add Picture For Product Gallery-->
					</div>
					<!--end::Ribbon wrapper 1-->
					<!--begin::TABELS-->
					<table class="table table-rounded table-striped border table-row-bordered gy-5 gs-7">
						<thead>
							<tr class="fw-semibold fs-6">
								@* <th class="fw-semibold fw-bolder text-start fs-6">ردیف</th> *@
								<th class="fw-semibold fw-bolder text-start fs-6">تصویر کالا</th>
								<th class="fw-semibold fw-bolder text-end fs-6">عملیات</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									@* <td class="text-start fs-6">@item.GalleryId</td> *@
									<td class="text-start fs-6">
										<img class="lozad rounded mw-100" src="@ImagePathExtention.PathProductGalleryImageClient/@item.ImgName" style="height: 41px" />
									</td>
									<td class="text-end justify-content-start flex-shrink-0">
										<!--begin::Icon-->
										<div>
											<!--begin::غیرفعال سازی-->
											<a href="/Administrator/ProductGallery/Remove/@item.GalleryId" class="bg-hover-light-danger text-hover-danger btn btn-icon btn-color-muted btn-bg-light btn-active-color-danger  h-40px me-3" data-bs-toggle="tooltip" title="حذف کردن">
												<i class="ki-outline ki-trash fs-3"></i>
											</a>
											<!--begin::غیرفعال سازی-->
										</div>
										<!--end::Icon-->
									</td>
								</tr>
							}
						</tbody>
					</table>
					<!--end::TABELS-->
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 text-center">
							<h3 class="card-title align-items-start flex-column">
								<span class="text-muted mt-1 fw-semibold fs-7">لیست تصاویر گالری کالاها (محصولات) موجود : <b class="badge badge-light-success fw-bolder" data-bs-toggle="tooltip" title="تعداد تصاویر گالری کالاهای (محصولات) ثبت شده"> @Model.Count() </b> می باشد. </span>
							</h3>
						</div>
					</div>
					<!--end::links-->
				</div>
				<!--end::body-->
			</div>
			<!--end::engage widget 1-->
		</div>
		<!--end::col-->
	</div>
	<!--end::row-->
</div>
<!--end::content container-->
@section AdminScripts {

	<!--==================================================================-->
	<!--اسکریپت نمایش دکمه ثبت تصویر محصول به هنگام بارگذاری فایل تصویر-->
	<script>
		$("#btnBrowserFile").on('click', function (e) {
			$("#btnAddGalleryforProfuct").css('display', 'block')
		});
	</script>
	<!--==================================================================-->
	<!--اسکریپت تغییر نام عکس انتخاب شده-->
	<script>
		document.querySelector("#files").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=files]");
			label.innerText = fileName ?? "تصویر برند خود را انتخاب و بارگزاری نمایید ...";
		};
	</script>
	<!--==================================================================-->
	<!--اسکریپت گزارشات-->
	<script>
		function printDataTable(e) {
			//e.preventDefault();
			// $('#datatable_warehouse').printThis({
			//     importCSS: true,
			//     importStyle: true,
			//     removeInline: false
			// });
			//var fdate, tdate;
			//if ($("#FromDate").val() == '') {
			//    fdate = "---نامشخص---";
			//}
			//else {
			//    fdate = $("#FromDate").val();
			//}
			//if ($("#ToDate").val() == '') {
			//    tdate = "---نامشخص---";
			//}
			//else {
			//    tdate = $("#ToDate").val();
			//}
			$('#datatable_brands').printThis({
				beforePrintEvent: $("table td").removeClass('justify-content-start flex-shrink-0').removeClass('sorting_asc'),
				importStyle: true,
				pageTitle: ".",
				//header: "<div style='position:fixed; width:100%; bottom:0; margin-top:10px; text-align:center; border:1px solid #afaaaa; color:black; background-color:#e1dddd;'>گروه صنعتی سازه پیوند</div>",
				//footer: "<div style='position:fixed; width:100%; bottom:0; margin-top:10px; text-align:center; border:1px solid #afaaaa; color:black; background-color:#e1dddd;'>گروه صنعتی سازه پیوند</div>"
				//footer: "<div style='position:fixed; width:100%; bottom:0; margin-top:10px; text-align:center; border:1px solid #afaaaa; color:black; background-color:#e1dddd;'>شرکت سمن سامانه سبز - آدرس دفتر مرکزی : تهران، خیابان فروردین، پلاک 18</div>",
				//header: "<div style='background-color:#e1dddd; color:black; border:1px solid #afaaaa; padding:10px;'><div style='text-align:center;'><span style='text-align:right; float:right; width:33%;'> تاریخ چاپ: " + $("#divcurrentdate").html().trim() + " </span><span style='text-align:center; font-weight:bold; width:34%;'> گزارش گردش کالا</span><span style='text-align:left; float:left; width:33%;'><img src='/upload/public/logo.png' style='width:50px; height:50px;'/></span></div><br /><br /><div style='display:flex; font-size:14px; justify-content:space-between;'><span style='text-align:right; float:right; width:33%;' > نام کالا : <span>" + $("#ProductID option:selected").text() + "</span></span><span style='text-align:right; width:34%;'> گزارش از تاریخ " + fdate + " الی " + tdate + " می باشد.</span><span style='text-align:left; width:33%;'> نام انبار : <span>" + $("#WareHouseID option:selected").text() + "</span></span></div></div>",
			});
		}
	</script>
	<!--==================================================================-->
	<!-- Refresh Data in Tables -->
	<script>
		$('#kt_refresh_datatable').on('click', function () {
			// نمایش فرم انیمیشن در زمان ثبت اطلاعات
			const loadingEl = document.createElement("div");
			document.body.prepend(loadingEl);
			loadingEl.classList.add("page-loader");
			loadingEl.classList.add("flex-column");
			loadingEl.classList.add("bg-dark");
			loadingEl.classList.add("bg-opacity-75");
			loadingEl.innerHTML = `
									<span class="spinner-border text-primary" role="status"></span>
									<span class="text-gray-100 fs-5 mt-5">سیستم در حال بروزرسانی اطلاعات ...</span>`;
			KTApp.showPageLoading();
			setTimeout(function () {
				KTApp.hidePageLoading();
				loadingEl.remove();
				window.location.reload();
			}, 2200);
			setTimeout(function () {
				toastr.options = {
					"debug": false,
					"closeButton": false,
					"newestOnTop": false,
					"progressBar": false,
					"positionClass": "toastr-top-center",
					"preventDuplicates": false,
					"showDuration": "600",
					"hideDuration": "2200",
					"timeOut": "2200",
					"extendedTimeOut": "2200",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				toastr.success("بروزرسانی انجام شد.");
			}, 800);
			//$('#frmEditProduct')[0].reset();
			//document.getElementById("frmEditProduct").reset(); //or $('#form2')[0].reset();
		})
	</script>
		<!-- اسکریپت آژاکس مربوط به بررسی خالی بودن مقدارورودی -->
	<script>
		function emptyInputInvalid(brandid) {
			Swal.fire({
				icon: 'warning',
				title: "خطای بارگذاری تصویر کالا",
				text: "حذف قیمت جاری از سیستم",
				confirmButtonText: "بلی, حذف شود.",
				cancelButtonText: "خیر, انصراف!",
				position: "top-center",
				showCancelButton: true,
				reverseButtons: false,
				customClass: {
					confirmButton: "btn btn-danger",
					cancelButton: "btn btn-secondary"
				}
			})
		}
	</script>
	<!-- اسکریپت آژاکس مربوط به بررسی خالی بودن مقدارورودی -->
}
