<!--begin:Menu item-->
<div class="menu-item">
	<!--begin:Menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1">کالاها یا محصولات</span>
	</div>
	<!--end:Menu content-->
</div>
<!--end:Menu item-->
<!--begin:Menu item-->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
	<!--begin:Menu link-->
	<span class="menu-link">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">کالاها (محصولات)</span>
		<span class="menu-arrow"></span>
	</span>
	<!--end:Menu link-->
	<!--begin:Menu sub-->
	<div class="menu-sub menu-sub-accordion">
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/Product/Index">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">لیست کالا ها</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:menu item-->
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/Product/Create">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">ثبت کالای جدید</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:menu item-->
		<!--begin:Menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/ProductPropertyGroup/Index">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">ثبت گروه بندی ویژه گی ها</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/ProductPropertyName/Index">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">ثبت نام ویژه گی ها</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link" href="/Administrator/ProductPropertyValue/Index">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">ثبت مقدار ویژه گی ها</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:Menu item-->
	</div>
	<!--end:Menu sub-->
</div>
<!--end:Menu item-->
