<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1">پیشخوان</span>
	</div>
	<!--end:menu content-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link active" href="/Administrator/AdminDashboard/">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">خانه</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Brand/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">لیست برندها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Warranty/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">لیست گارانتی ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Slider/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">لیست اسلایدر ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Category/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">لیست دسته بندی ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Color/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">لیست پانل رنگ ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
@* 	<a class="menu-link" href="/Administrator/Product/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت کالاها (محصولات)</span>
	</a> *@
	<!--end:menu link-->
</div>
<!--end:menu item-->
<!--end:Menu item-->
@* <div class="menu-inner flex-column collapse" id="kt_app_sidebar_menu_dashboards_collapse">
	<div class="menu-item">
		<a class="menu-link" href="../../demo24/dist/dashboards/bidding.html">
			<span class="menu-bullet">
				<span class="bullet bullet-dot"></span>
			</span>
			<span class="menu-title">مناقصه</span>
		</a>
	</div>
</div> *@
@* <div class="menu-item">
	<div class="menu-content">
		<a class="btn btn-flex btn-color-primary d-flex flex-stack fs-base p-0 ms-2 mb-2 toggle collapsible collapsed" data-bs-toggle="collapse" href="#kt_app_sidebar_menu_dashboards_collapse" data-kt-toggle-text="بستن">
			<span data-kt-toggle-text-target="true">مشاهده بیشتر</span>
			<i class="ki-outline ki-minus-square toggle-on fs-2 me-0"></i>
			<i class="ki-outline ki-plus-square toggle-off fs-2 me-0"></i>
		</a>
	</div>
</div> *@