<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1">پیشخوان (مدیریت اطلاعات)</span>
	</div>
	<!--end:menu content-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link active" href="/Administrator/AdminDashboard/">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">خانه</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Brand/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت برندها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Warranty/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت گارانتی ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Slider/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت اسلایدر ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="/Administrator/Category/Index">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت دسته بندی ها</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
